html{
  background: #808080;
  }
.text{
  font-size: 25px;
  margin: 5%;
  height: auto;
  width: 90%;
  background:#808080;
  text-align: center;
}
.f{
  width:30%;
  margin-left:35%;
}
h1{
  text-align:center;
}
.v2{
  font-size:25px
}
.t{
  width:30%;
  margin-left:35%;
}