html{
  background:#808080;
}
.zag{
  font-size:50px;
  margin-left:35%;
}
.disk{
  font-size:60px;
  margin-left:;
  color:red;
}
.YP{
  font-size:40px;
  margin-left:47%;
}
.YPT{
  font-size:35px;
  margin:2%;
}